.view_container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--view-bg-color);
}

.user_action_container {
  display: inherit;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0.25rem 0.5rem var(--shadow-color);
  background-color: var(--primary-dark);
}

.user_action_container > .search_wrapper {
  width: 100%;
}

.listing_summary_container {
  padding: 0 1rem;
  min-height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--shadow-color);
}

.listing_container {
  display: inherit;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  /* max height of other two components */
  height: calc(100vh - 5rem);
  overflow-y: auto;
}
